.App {
  text-align: center;
}

.grid {
  width: 425px;
  height: 425px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 100px;
  height: 100px;
  /* color: blue; */
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  font-size: 60px;
  font-weight: bold;
}